<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WAUDIT</title>
    <link rel="stylesheet" href="{% static './audit/css/normalize.css'%}"/>
    <link rel="stylesheet" href="{% static './audit/css/style.css'%}"/>
    <link rel="stylesheet" href="{% static './audit/css/screen480px.css'%}" media="screen and (min-width:480px)"/>
    <link rel="stylesheet" href="{% static './audit/css/screen720px.css'%}" media="screen and (min-width:720px)"/>
    <link rel="stylesheet" href="{% static './audit/css/screen1000px.css'%}" media="screen and (min-width:1000px)"/>
    
    <!--Para que pueda tomar la plantilla se debe crear un directorio llamado Templates-->
    <!--Para que pueda tomar el archivo css se debe crear un directorio llama static y meter los archivos css dentro-->
</head>

<body>
    <header class="header">
        <h1 class="header__title">
            SISTEMA DE GESTIÓN DE AUDITORÍAS DE CONTROL INTERNO
        </h1>
    </header>
    <main class="main">
        <aside class="aside">
            <h1 class="aside__title">W-AUDIT</h1>
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-list__item"><button class="btn nav__btn"><a class="nav__link" href="{% url 'index'%}">AUDITORÍAS</a></button></li>
                    <li class="nav-list__item"><button class="btn nav__btn"><a class="nav__link" href="planesMejora.html">PLANES DE MEJORA</a></button></li>
                    <li class="nav-list__item"><button class="btn nav__btn"><a class="nav__link" href="{% url 'moduleUniverseAudit'%}">UNIVERSO AUDITABLE</a></button></li>
                    <li class="nav-list__item"><button class="btn nav__btn"><a class="nav__link" href="controlInterno.html">CONTROL INTERNO</a></button></li>
                    <li class="nav-list__item"><button class="btn nav__btn"><a class="nav__link" href="Informes.html">INFORMES</a></p></button></li>
                    <li class="nav-list__item"><button class="btn nav__btn"><a class="nav__link" href="auditados.html">AUDITADOS</a></button></li>
                </ul>
            </nav>
        </aside>
        
        <section class="panel-section">
            {% block content %}
                {% include "audit/menuManageAudit.html" %}
                <p>
                    Modulo de Gestión de auditoría:<br/> Aquí podrás crear y editar tus actividades de auditorías a realizar. 
                    De igual forma, también podrás relacionar los hallazgos que se encuentren y editarlos cuandos sea necesario.
                </p>

            {% endblock %}
        </section>
    </main>
                        
    <footer class="footer">
        <p><h1><i>"Lo Mejor está por venir..."</i></h1></p>
    </footer>
    
</body>
</html>