
{% load static %}
<h2 class="panel-section__title">GESTIÓN AUDITORÍA</h2>
<nav class="navBar">
    <ul class="navBar-list">
        <li class="navBar-list__item"><button class="boton navBar__boton"><a class="navBar__link" href="{% url 'subModuleCreateAudit'%}">Crear auditoría</a></button></li>
        <li class="navBar-list__item"><button class="boton navBar__boton"><a class="navBar__link" href="">Editar auditoría</a></button></li>
        <li class="navBar-list__item"><button class="boton navBar__boton"><a class="navBar__link" href="AgregarHallazgo.html">Agregar hallazgo</a></button></li>
        <li class="navBar-list__item"><button class="boton navBar__boton"><a class="navBar__link" href="EditarHallazgo.html">Editar hallazgo</a></p></button></li>
    </ul>
</nav>
