{% extends "./index.html" %}

{% load static %}

{% block content %}
   

    {% include "./menuManageAudit.html" %}


<div class="submodule">
   

        <form class="forms" method="post" action="/audit/" id="formAudit">
            {% csrf_token %}
            <input type="text" name="action" value="ejecutar" style="display: none;"/>
            
            <div class="formRegister">
                <div class="formRegister__field">
                    <label class="forms__label" for="selectIdAudit">
                        <span>ID Auditoría: </span>
                    </label>
                    <select class="forms__select" name="selectIdAudit" id="selectIdAudit">
                        <option value="...">...</option>
                        {%for audit in dataAudit %}
                            <option value="{{audit.idAudit}}">{{audit.idAudit}}</option>
                        {% endfor %}
                    </select> 
                </div>

                <div class="formRegister__field">
                    <label class="forms__label" for="typeAudit">
                        <span>Tipo Auditoría: </span>
                    </label>
                    <p id="typeAudit">

                    </p>
                </div>
                <div class="formRegister__field">
                    <label class="forms__label" for="auditor">
                        <span>Auditor: </span>
                    </label>
                    <p id="auditor">

                    </p>
                </div>
                <div class="formRegister__field">
                    <label class="forms__label" for="zone">
                        <span>Zona: </span>
                    </label>
                    <p id="zone">

                    </p>
                </div>
                <div class="formRegister__field">
                    <label class="forms__label" for="state">
                        <span>Departamento: </span>
                    </label>
                    <p id="state">

                    </p>
                </div>
                <div class="formRegister__field">
                    <label class="forms__label" for="city">
                        <span>Municipio: </span>
                    </label>
                    <p id="city">

                    </p>
                </div>
                <div class="formRegister__field">
                    <label class="forms__label" for="codeAudit">
                        <span>Código Auditoría: </span>
                    </label>
                    <p id="codeAudit">

                    </p>
                </div>
                <div class="formRegister__field">
                    <label class="forms__label" for="ambient">
                        <span>Ambiente: </span>
                    </label>
                    <p id="ambient">

                    </p>
                </div>
                <div class="formRegister__field">
                    <label class="forms__label" for="ambientDetail">
                        <span>Detalle ambiente: </span>
                    </label>
                    <p id="ambientDetail">

                    </p>
                </div>
                <div class="formRegister__field">
                    <label class="forms__label" for="datePlan">
                        <span>Fecha planeación: </span>
                    </label>
                    <p id="datePlan">

                    </p>
                </div>

                <div class="formRegister__field">
                    <label class="forms__label" for="dateExect">
                        <span>Fecha Ejecución: </span>
                    </label>
                    <input type="date" class="forms__text" name="dateExect" id="dateExect">
                </div>
                
                <div class="formRegister__field formRegister__field_xpand">
                    <label class="forms__label" for="actDetail">
                        <span>Detalle Actividad: </span>
                    </label>
                    <p id="actDetail">

                    </p>
                </div>
                <input type="submit" value="Ejecutar" id="saveAudit"/>
            </div>
            
        </form>    
        
        <form class="forms" method="post" action="/findings/" id="formFindings" enctype="multipart/form-data" >
            {% csrf_token %}
            <input type="text" name="action" value="guardar" style="display: none;"/>

            <div class="formRegister__field formRegister__field_xpand">
                <label class="forms__label" for="findings">
                    <span>Hallazgos </span>
                </label>
                <div class="table-responsive">
                    <table class="table align-middle">
                        <thead>
                            <tr>
                                <th>ID Hallazgo</th>
                                <th>Alias</th>
                                <th>Detalle del Hallazgo</th>
                                <th>Evidencia</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            
            
                        </tbody>
                    </table>           
            </div>
            
            <div class="formRegister">
                <div class="formRegister__field">
                    <label class="forms__label" for="idfinding">
                        <span>ID Hallazgo: </span>
                    </label>
                    <p class="form__text" id="idfinding">
                        Aquí va el id Hallazgo
                    </p>
                </div>
                <div class="formRegister__field formRegister__field_xpand">
                    <label class="forms__label" for="selectAlias">
                        <span>Alias Hallazgo: </span>
                    </label>
                    <select class="forms__select" name="selectAlias" id="selectAlias">
                        <option value="...">...</option>
                        {%for alias in dataUniverseAlias %}
                            <option value="{{alias.alias}}">{{alias.alias}}</option>
                        {% endfor %}
                    </select> 
                </div>
                <div class="formRegister__field formRegister__field_xpand">
                    <label for="detailFindings">
                        <span>Detalle del Hallazgo:</span> 
                        <textarea class="forms__textarea" name="detailFindings" id="detailFindings"></textarea>
                    </label>
                </div>
    
                <div class="formRegister__field formRegister__field_xpand">
                    <label for="evidence">
                        <span>Evidencia: </span> 
                        <input type="file"  accept=".png, .jpg, .jpeg ,.pdf" class="forms__text" name="evidence" id="evidence">
                    </label>
                </div>
        
                
                <input type="submit" value="Cargar Hallazgo" id="saveFinding"/> 
                
               
            </div>
            
        </form>


        
        
        

         

   
    
</div>

<script src="{% static 'audit/scripts/loadData.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
{% endblock %}