
{% extends "./index.html" %}

{% load static %}

{% block content %}
   

    {% include "./menuManageAudit.html" %}


<div class="submodule">
   

        <form class="forms" method="post" action="/audit/" id="formAudit">
            {% csrf_token %}
            <input type="text" name="action" value="guardar" style="display: none;"/>
            
            <div class="formRegister">
                <div class="formRegister__field">
                    <label class="forms__label" for="typeAudit">
                        <span>Tipo Auditoría: </span>
                    </label>
                    <select class="forms__select" name="typeAudit" id="typeAudit">
                        <option value="plan">Plan de auditoría</option>
                        <option value="special">Auditoría especial</option>
                        <option value="support">Apoyo otras dependencias</option>
                    </select> 
                </div>

                <div class="formRegister__field">
                    <label class="forms__label" for="auditors">
                        <span>Auditor: </span>
                    </label>
                    <select class="forms__select" name="auditors" id="auditors">
                        <option value="Jorge Luis Rueda Marin">Jorge Rueda</option>
                        <option value="Andrea Bueno">Andrea Bueno</option>
                        <option value="Kelly Gallo">Kelly Gallo</option>
                        <option value="Robinson Botero">Robinson Botero</option>
                        <option value="Zoraida Rivera">Zoraida Rivera</option>
                    </select>
                </div>

                <div class="formRegister__field">
                    <label class="forms__label" for="zones">
                        <span>Zonas: </span>
                    </label>
                    <select class="forms__select" name="zones" id="zones">
                        <option value="Costa1">Costa 1</option>
                        <option value="Costa2">Costa 2</option>
                        <option value="Centro">Centro </option>
                    </select>
                </div>

                <div class="formRegister__field">
                    <label for="state">
                        <span>Departamento: </span>
                        <select class="forms__select" name="state" id="state">
                            <option value="Cesar">Cesar</option>
                            <option value="Santander">Santander</option>
                            <option value="Bolívar">Bolívar</option> 
                        </select>
                    </label>
                </div>
                <div class="formRegister__field">
                    <label for="city">
                        <span>Municipios:</span> 
                        <select class="forms__select" name="city" id="city">
                            <option value="Valledupar">Valledupar</option>
                            <option value="Bucaramanga">Bucaramanga</option>
                            <option value="Cartagena">Cartagena</option>
                        </select> 
                    </label>
                </div>

                <div class="formRegister__field">
                    <label for="codeAudit">
                        <span>Código Auditoría:</span>
                        
                        <select class="forms__select" name="codeAudit" id="codeAudit">
                            <option value="...">...</option>
                            {% for audit in dataAuditUniverse %}
                            <option value="{{audit.code}}">{{audit.code}}</option>
                            {% endfor %}
                        </select> 
                    </label>
                </div>

                <!-- <div class="formRegister__field">
                    <label for="grupoAudit">
                        <span>Grupo Auditoría: </span> 
                        <select class="forms__select" name="grupoAudit" id="grupoAudit">
                            <option value="individual">Actividad individual</option>
                            <option value="Grupo">Actividades grupal</option>
                            <option value="Asistencia">Apoyo/Asistencia</option>
                        </select>
                    </label>
                </div> -->

                <div class="formRegister__field">
                    <label for="ambient">
                        <span>Ambiente </span> 
                        <select class="forms__select" name="ambient" id="ambient">
                            <option value="nodo">Nodo</option>
                            <option value="oficina">Oficina</option>
                            <option value="red">Red</option>
                            <option value="bodega">Bodega</option>
                            <option value="funcionario">Funcionario</option>
                            <option value="proceso">Proceso</option>
                        </select>
                    </label>
                </div>

                <div class="formRegister__field">
                    <label for="detailAmbient">
                        <span>Detalle Ambiente: </span> 
                        <input type="text" class="forms__text" name="detailAmbient" id="detailAmbient">
                    </label>
                </div>

                <div class="formRegister__field">
                    <label for="datePlan">
                        <span>Fecha Planeación: </span> 
                        <input type="date" class="forms__text" name="datePlan" id="datePlan">
                    </label>
                </div>

                <div class="formRegister__field formRegister__field_xpand">
                    <label for="nameAudit">
                        <span>Auditoría:</span>
                        <p id="nameAudit">
                           
                        <p>
                    </label>
                </div>

                <div class="formRegister__field formRegister__field_xpand">
                    <label for="activities">
                        <span>Actividad:</span>
                        <p id="activities">
                            
                        </p> 
                    </label>
                </div>

                <div class="formRegister__field formRegister__field_xpand">
                    <label for="detailAct">
                        <span>Detalle Actividad:</span> 
                        <textarea class="forms__textarea" name="detailAct" id="detailAct"></textarea>
                    </label>
                </div>

                <div class="formRegister__field">
                    <input type="submit" value="Guardar" id="saveAudit"/>
                </div>
            

            </div>
        </form>       

   
    
</div>

<script src="{% static 'audit/scripts/queriesToUniverse.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
{% endblock %}