
{% extends "audit/index.html" %}

{% load static %}

{% block content %}
   

    {% include "universe/menuUniverseAudit.html" %}


<div class="submodule">
    <br><br>    
    <fieldset class="fieldset">
        <legend class="fieldset__legend">Auditoría Universo</legend>
        <form class="form" method="post" action="/moduleAuditUniverse/" id="formAuditUniverse">
            {% csrf_token %}
            <input type="text" name="action" value="guardar" style="display: none;"/>

            <label class="form__label" for="selectResponsable" >
                Gestión responsable:
                <select class="form__select" name="selectResponsable" id="selectResponsable">
                    <option value="">...</option>
                    {% for responsable in dataManageResponsable %}
                    <option value={{responsable.responsable}}>{{responsable.responsable}}</option>
                    {% endfor %}
                <select>
            </Label>

            <label class="form__label" for="selectMacroprocess" >
                Macroproceso:
                <select class="form__select" name="selectMacroprocess" id="selectMacroprocess">
                    <option value="">...</option>
                </select>
            </Label>

            <label class="form__label" for="selectProcess">
                Proceso:
                <select class="form__select" name="selectProcess" id="selectProcess">
                    <option value="">...</option>
                </select>
            </Label>

            <label class="form__label" for="CodigoAuditoriaUniverso">
                Código auditoría:
                <input class="form__text" type="text" name="CodigoAuditoriaUniverso" id="CodigoAuditoriaUniverso"/>
            </Label>
            

            <label class="form__label" for="AuditoriaGeneralUniverso">
                Auditoría general:
                <input class="form__text" type="text" name="AuditoriaGeneralUniverso" id="AuditoriaGeneralUniverso"/>
            </Label>
            

            <label class="form__label" for="NombreAuditoriaUniverso">
                Nombre auditoría:
                <input class="form__text" type="text" name="NombreAuditoriaUniverso" id="NombreAuditoriaUniverso"/>
            </Label>
            

            <label class="form__label" for="ActividadAuditoriaUniverso">
                Actividades auditoría:
                <input class="form__text" type="text" name="ActividadAuditoriaUniverso" id="ActividadAuditoriaUniverso"/>
            </Label>

            <label class="form__label" for="RiesgosAuditoriaUniverso">
                Riesgos del proceso:
                <textarea class="form__textarea" name="RiesgosAuditoriaUniverso"  id="RiesgosAuditoriaUniverso"></textarea>
            </Label>

            

            <input class="form__submit" type="submit" value="Guardar" id="botonGuardarAuditU" />



            <!--Se podría pasar una lista con enlaces que pasen paramentros a una vista para cargar la lista
            correspondiente a cada una de las opciones de gestión-->

        </form>

    </fieldset>   

</div>

<script src="{% static 'universe/scripts/listQueries.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
{% endblock %}