
{% load static %}
<h2 class="panel-section__title">GESTIÓN UNIVERSO AUDITABLE</h2>
<nav class="nav">
    <ul class="nav-list">
        <li class="nav-list__item"><button class="btn nav__btn"><a class="nav__link" href="{% url 'subModuleProcessUniverse'%}">Procesos Universo</a></button></li>
        <li class="nav-list__item"><button class="btn nav__btn"><a class="nav__link" href="{% url 'subModuleAuditUniverse'%}">Auditorías Universo</a></button></li>
        <li class="nav-list__item"><button class="btn nav__btn"><a class="nav__link" href="{% url 'subModuleAliasUniverse'%}">Alias Universo</a></button></li>
        <li class="nav-list__item"><button class="btn nav__btn"><a class="nav__link" href="AgregarCausa.html">Casuas Universo</a></button></li>
    </ul>
</nav>
    