
{% extends "audit/index.html" %}

{% load static %}

{% block content %}
   
    
    {% include "universe/menuUniverseAudit.html" %}
    <p>
        Modulo de Creación del Universo de Auditoría:<br/> 
    </p>

    <table>
        <tr>
            <th>Código</th>
            <th>Gestión responsable</th>
            <th>Proceso</th>
            <th>Actividad</th>
        </tr>
        
        {% for audit in dataAuditUniverse %}
        <tr>
            <td>{{audit.code}}</td>
            <td>{{audit.responsable}}</td>
            <td>{{audit.audit}}</td>
            <td>{{audit.activities}}</td>
        </tr>
        {% endfor %}
    
    </table>
        
        

    
{% endblock %}

