
{% extends "audit/index.html" %}

{% load static %}

{% block content %}
   
    
    {% include "universe/menuUniverseAudit.html" %}
    <div class="enunciado">
        <h3>
            Modulo de Creación del Universo de Auditoría:<br/> 
        </h3>
    </div>
    

<div class="submodule">

    <div class="table-responsive">
        <table class="table align-middle">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Auditoría</th>
                    <th>Actividad</th>
                    <!-- <th>Proceso</th> -->
                    <th>Alias</th>
                </tr>
            </thead>
            <tbody>
                {% for audit in dataAuditUniverse %}
                <tr>
                    <td>{{audit.code}}</td>
                    <td>{{audit.audit}}</td>
                    <td><p style="width: 50rem; ">{{audit.activities}}</p></td>
                    <!-- <td>{{audit.process}}</td> -->
                    <td>
                        <p>
                            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#{{audit.code}}" aria-expanded="false" aria-controls="collapseExample">
                              ver..
                            </button>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        <div class="collapse" id="{{audit.code}}">
                            <div class="card card-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-4">
                                            Alias
                                        </div>
                                        <div class="col-4">
                                            Descripción
                                        </div>
                                        <div class="col-4">
                                            Causas
                                        </div>
                                    </div>
                                {% for alias in dataAliasUniverse %}
                                    <div class="row">
                                        {% if alias.codeAudit == audit.code%}
                                        <div class="col-4">
                                            {{alias.alias}}
                                        </div>
                                        <div class="col-4">
                                            {{alias.description}}
                                        </div>
                                        <div class="col-4">
                                            {% for cause in dataCauseUniverse %}
                                                {% if cause.alias == alias.alias %}
                                                <p>
                                                    {{cause.cause}}
                                                </p>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                
                
                {% endfor %}

            </tbody>
        </table>
      </div>


</div>


  
{% endblock %}

