{% extends "audit/index.html" %}

{% load static %}

{% block content %}
   

    {% include "universe/menuUniverseAudit.html" %}


<div class="submodule">

    <!--Formulario Agregar Proceso-->
    <fieldset class="fieldset">
        <legend class="fieldset__legend">Agregar proceso:</legend>

        <form class="form" method="post" action="/processUniverse/" id="formProcessUniverse">
            {% csrf_token %}
            <input type="text" name="action" value="guardar" style="display: none;"/>

            <label class="form__label" for="manageResponsableProcess">
                <span>Gestión responsable:</span>
                <select class="form__select" name="manageResponsableProcess" id="manageResponsableProcess">
                {% for responsable in dataManageResponsable %}
                    <option value={{responsable.responsable}}>{{responsable.responsable}}</option>
                {% endfor %}    
                </select>
            </Label>
            
            <label class="form__label" for="macroprocessUniverse">
                <span>Macroprocesos de la Gestión responsable:</span> 
                <select class="form__select" name="macroprocessUniverse" id="macroprocessUniverse">
                {% for macro in dataMacroProcess%}
                    <option value={{macro.macroprocess}}>{{macro.macroprocess}}</option>
                {% endfor %} 
                </select>
            </label>

            <label class="form__label" for="numberProcessUniverse">
                <span>Número de proceso a cargar:</span>
                <input class="form__text" type="number" name="numberProcessUniverse" id="numberProcessUniverse"/>
            </Label>
        
            <label class="form__label" for="processUniverse">
                <span>Proceso a cargar:</span>
                <input class="form__text"  type="text" name="processUniverse" id="processUniverse"/>
            </Label>
            <input class="form__submit" type="submit" value="Guardar" id="saveProcessUniverse"/>
            <p>Proceso guardado:{{numProcess}}-{{process}}</p>
        </form>
    </fieldset>


    <!--Formulario Agregar Macroproceso-->
   
    <fieldset class="fieldset">
        <legend class="fieldset__legend">Agregar macroproceso:</legend>

        <form class="form" method="post" action="/macroProcessUniverse/" id="formMacroprocessUniverse">
            {% csrf_token %}
            <input type="text" name="action" value="guardar" style="display: none;"/>

            <label class="form__label" for="manageResponsableMacro">
                <span>Gestión responsable:</span>
                <select class="form__select" name="manageResponsableMacro" id="manageResponsableMacro">
                {% for responsable in dataManageResponsable%}
                    <option value={{responsable.responsable}}>{{responsable.responsable}}</option>
                {% endfor %}
                </select>
            </Label>

            <label class="form__label" for="macroprocessUniverse">
                <span>Macroproceso:</span>
                <input class="form__text" type="text" name="macroprocessUniverse" id="macroprocessUniverse"/> 
            </Label>
            
            <input class="form__submit" type="submit" value="Guardar" id="saveMacroprocess"/>
            <p>Macroproceso guardado:{{macroProcess}}</p>
        </form>
    </fieldset> 

    <!--Formulario Agregar gestión responsable-->

    <fieldset class="fieldset"> 
        <legend class="fieldset__legend">Agregar gestión responsable:</legend>

        <form class="form" method="post" action="/manageResponsableUniverse/" id="formManageResponsableUniverse">
            {% csrf_token %}
            <input type="text" name="action" value="guardar" style="display: none;"/>

            <label class="form__label" for="codeManage">
                <span>Código gestión:</span> 
                <input class="form__text" type="text" name="codeManage"/>
            </Label>

            <label class="form__label" for="manageResponsable">
                <span>Nueva gestión:</span> 
                <input class="form__text" type="text" name="manageResponsable"/>
            </Label>
            
            <input class="form__submit" type="submit" value="Guardar" id="saveManageResponsable"/>
            <p>Proceso guardado:{{code}}-{{responsable}}</p>
            
        </form>

    </fieldset>
    
</div>


  
    
    

    
 
{% endblock %}


            