{% extends "audit/index.html" %}

{% load static %}

{% block content %}
   

    {% include "universe/menuUniverseAudit.html" %}




<!--Formulario Agregar gestión responsable-->
<br><br>
<fieldset class="fieldset"> 
    <legend class="fieldset__legend">Agregar gestión responsable:</legend>

    <form class="form" method="post" action="/processUniverse/" id="formProcessUniverse">
        {% csrf_token %}
        <input type="text" name="action" value="guardar" style="display: none;"/>

        <label class="form__label" for="codeManage">
            <span>Código gestión:</span> 
            <input class="form__input" type="text" name="codeManage"/>
        </Label>

        <label class="form__label" for="manageResponsable">
            <span>Nueva gestión:</span> 
            <input class="form__input" type="text" name="manageResponsable"/>
        </Label>
        
        <input class="form__submit" type="submit" value="Guardar" id="saveManageResponsable"/>
        <p>Proceso guardado:{{code}}-{{responsable}}</p>
        
    </form>

</fieldset>


<br><br>

<!--Formulario Agregar Macroproceso-->
 
<fieldset class="fieldset">
    <legend class="fieldset__legend">Agregar macroproceso:</legend>

    <form class="form" method="post" action="/macroProcessUniverse/" id="formMacroprocessUniverse">
        {% csrf_token %}
        <input type="text" name="action" value="guardar" style="display: none;"/>

        <label class="form__label" for="manageResponsableMacro">
            <span>Gestión responsable:</span>
            <select class="form__select" name="manageResponsableMacro" id="manageResponsableMacro">
            {% for responsable in dataManageResponsable%}
                <option value={{responsable.responsable}}>{{responsable.responsable}}</option>
            {% endfor %}
            </select>
        </Label>

        <label class="form__label" for="macroprocessUniverse">
            <span>Macroproceso:</span>
            <input class="form__text" type="text" name="macroprocessUniverse" id="macroprocessUniverse"/> 
        </Label>
        
        <input class="form__submit" type="submit" value="Guardar" id="saveMacroprocess"/>
        <p>Macroproceso guardado:{{macroProcess}}</p>
    </form>
</fieldset> 

<!--Formulario Agregar Proceso-->
    <!-- <fieldset class="fieldset">
        <legend class="fieldset__legend">Agregar proceso:</legend>

        <form class="form" action="">

            <label class="form__label" for="manageResponsable">
                <span>Gestión responsable:</span>
                <select class="form__select" name="manageResponsable" id="manageResponsable">
                    <option>opciones 1</option>
                    <option>opciones 2</option>
                    <option>opciones 3</option>
                </select>
            </Label>

            <label class="form__label" for="macroprocessUniverse">
                <span>Macroprocesos de la Gestión responsable:</span> 
                <select name="macroprocessUniverse" id="macroprocessUniverse">
                    <option>opciones</option>
                </select>
            </label>
        

            <label class="form__label" for="processUniverse">
                <span>Procesos a cargar:</span>
                <input type="text" name="processUniverse" id="processUniverse"/>
            </Label>
            <input class="form__btn" type="submit" value="Guardar" id="saveManageResponsable"/>
        </form>
    </fieldset>
    
   
     -->




  
    
    
    
    

    
    
    <script src="{% static './universe/scripts/prueba.js'%}"></script>
{% endblock %}


            