{% extends "audit/index.html" %}

{% load static %}

{% block content %}
   

    {% include "universe/menuUniverseAudit.html" %}




<!--Formulario Agregar gestión responsable-->

<br><br>
<fieldset class="fieldset"> 
    <legend class="fieldset__legend">Agregar gestión responsable:</legend>

    <form class="form" method="post" action="/processUniverse/">
        {% csrf_token %}
        <input type="text" name="action" value="guardar" style="display: none;"/>

        <label class="form__label" for="codeManage">
            <span>Código gestión:</span> 
            <input type="text" name="codeManage"/>
        </Label>

        <label class="form__label" for="manageResponsableMacro">
            <span>Nueva gestión:</span> 
            <input type="text" name="manageResponsableMacro"/>
        </Label>
        
        <input type="submit" value="Guardar" id="saveManageResponsable"/>
        <p>Proceso guardado:{{code}}-{{responsable}}</p>
        
    </form>

</fieldset>



<!--Formulario Agregar Proceso-->
    <!-- <fieldset class="fieldset">
        <legend class="fieldset__legend">Agregar proceso:</legend>

        <form class="form" action="">

            <label class="form__label" for="manageResponsable">
                <span>Gestión responsable:</span>
                <select class="form__select" name="manageResponsable" id="manageResponsable">
                    <option>opciones 1</option>
                    <option>opciones 2</option>
                    <option>opciones 3</option>
                </select>
            </Label>

            <label for="macroprocessUniverse">
                <span>Macroprocesos de la Gestión responsable:</span> 
                <select name="macroprocessUniverse" id="macroprocessUniverse">
                    <option>opciones</option>
                </select>
            </label>
        

            <label for="processUniverse">
                <span>Procesos a cargar:</span>
                <input type="text" name="processUniverse" id="processUniverse"/>
            </Label>
            <input type="submit" value="Guardar" id="saveManageResponsable"/>
        </form>
    </fieldset>
     -->
   
    

    <!--Formulario Agregar Macroproceso-->
    <!-- <form method="GET" action="/GuardarMacroprocesosAuditar/">
    <fieldset>
        <legend><h3>Agregar macroproceso:</h3></legend>
            <label for="gestionResponsable">Gestión responsable:</Label>
            <select name="gestionResponsable" id="gestionResponsable">
               
                <option>opciones</option>
            
            </select>
            <label for="macroprocesosUniverso">Macroproceso:</Label>
            <input type="text" name="macroprocesosUniverso" id="macroprocesosUniverso"/>
            <input type="submit" value="Guardar" id="botonGuardarMacroprocesosUniverso"/>
    </fieldset> 
    <br/>
    </form> -->



  
    
    
    
    

    
    
    <!-- <script src="{% static './universe/scripts/prueba.js'%}"></script> -->
{% endblock %}


            