{% extends "audit/index.html" %}

{% load static %}

{% block content %}
   

    {% include "universe/menuUniverseAudit.html" %}

<div class="submodule">

    <!--Formulario Agregar Proceso-->
    <fieldset class="fieldset-forms">
        <legend class="fieldset-forms__legend">Agregar proceso:</legend>

        <form class="forms" method="post" action="/processUniverse/" id="formProcessUniverse">
            {% csrf_token %}
            <input type="text" name="action" value="guardar" style="display: none;"/>

            <label class="forms__label" for="manageResponsableProcess">
                <span>Gestión responsable:</span>
                <select class="forms__select" name="manageResponsableProcess" id="manageResponsableProcess">
                {% for responsable in dataManageResponsable %}
                    <option value={{responsable.responsable}}>{{responsable.responsable}}</option>
                {% endfor %}    
                </select>
            </Label>
            
            <label class="forms__label" for="macroprocessUniverse">
                <span>Macroprocesos de la Gestión responsable:</span> 
                <select class="forms__select" name="macroprocessUniverse" id="macroprocessUniverse">
                {% for macro in dataMacroProcess%}
                    <option value={{macro.macroprocess}}>{{macro.macroprocess}}</option>
                {% endfor %} 
                </select>
            </label>

            <label class="forms__label" for="numberProcessUniverse">
                <span>Número de proceso a cargar:</span>
                <input class="forms__text" type="number" name="numberProcessUniverse" id="numberProcessUniverse"/>
            </Label>
        
            <label class="forms__label" for="processUniverse">
                <span>Proceso a cargar:</span>
                <input class="forms__text"  type="text" name="processUniverse" id="processUniverse"/>
            </Label>
            <input class="forms__submit" type="submit" value="Guardar" id="saveProcessUniverse"/>
            <p>Proceso guardado:{{numProcess}}-{{process}}</p>
        </form>
    </fieldset>

    <!--Formulario Agregar Macroproceso-->
    <fieldset class="fieldset-forms">
        <legend class="fieldset-forms__legend">Agregar macroproceso:</legend>

        <form class="forms" method="post" action="/macroProcessUniverse/" id="formMacroprocessUniverse">
            {% csrf_token %}
            <input type="text" name="action" value="guardar" style="display: none;"/>

            <label class="forms__label" for="manageResponsableMacro">
                <span>Gestión responsable:</span>
                <select class="forms__select" name="manageResponsableMacro" id="manageResponsableMacro">
                {% for responsable in dataManageResponsable%}
                    <option value={{responsable.responsable}}>{{responsable.responsable}}</option>
                {% endfor %}
                </select>
            </Label>

            <label class="forms__label" for="macroprocessUniverse">
                <span>Macroproceso:</span>
                <input class="forms__text" type="text" name="macroprocessUniverse" id="macroprocessUniverse"/> 
            </Label>
            
            <input class="forms__submit" type="submit" value="Guardar" id="saveMacroprocess"/>
            <p>Macroproceso guardado:{{macroProcess}}</p>
        </form>
    </fieldset> 
    
    <!--Formulario Agregar gestión responsable-->
    <fieldset class="fieldset-forms"> 
        <legend class="fieldset-forms__legend">Agregar gestión:</legend>

        <form class="forms" method="post" action="/manageResponsableUniverse/" id="formManageResponsableUniverse">
            {% csrf_token %}
            <input type="text" name="action" value="guardar" style="display: none;"/>

            <label class="forms__label" for="codeManage">
                <span>Código gestión:</span> 
                <input class="forms__text" type="text" name="codeManage"/>
            </Label>

            <label class="forms__label" for="manageResponsable">
                <span>Nueva gestión:</span> 
                <input class="forms__text" type="text" name="manageResponsable"/>
            </Label>
            
            <input class="forms__submit" type="submit" value="Guardar" id="saveManageResponsable"/>
            <p>Proceso guardado:{{code}}-{{responsable}}</p>
            
        </form>

    </fieldset>
    
</div> 

<br><br>

<ul>
    <li>
        <strong>Gestión responsable</strong> 
    </li>
    {% for responsable in dataMangeResponsable %}
    <li>
        {{responsable.responsable}}
    </li>
    {% endfor %}
</ul>

<!-- <div class="container border">
    <div class="row border">
        <div class="col-4">
            <strong>Gestión responsable</strong> 
        </div>
        <div class="col-4">
            <strong>Macroproceso</strong> 
        </div>
        <div class="col-4">
            <strong>Proceso</strong> 
        </div>
    </div>
    {% for responsable in dataManageResponsable %}
    <div class="row">
        <div class="col-4">
            {{responsable.responsable}}
        </div>
        
        <div class="col-4">
        {% for macro in dataMacroProcess%}
            <div class="row">
                {% if macro.responsable == responsable.responsable %}
                    {{macro.macroprocess}}
                {% endif %}
            </div>
        
        </div>
        {% endfor %}
        <div class="col-4">
        {% for macro in dataMacroProcess%}
            {% for process in dataProcess %}
            <div class="row">
                {% if process.macroprocess == macro.macroprocess %}
                    {{process.process}}
                {% endif %}
            </div>
            {% endfor %}
        {% endfor %}
        </div>
    </div>
    {% endfor %}
</div> -->
      
 
{% endblock %}


            