
{% extends "index.html" %}

{% load static %}

{% block content %}
   

    {% include "barraGestionAudit.html" %}
    <form method="GET" action="/guardarAuditoria/">
        <table id="TablaCrearAudit1">
            <tr>
                <td>
                    <label for="fechaPlan">Fecha Planeación: </label>
                </td>  
                <td>
                    <input type="date" id="fechaPlan"/>
                </td> 
                <td><label for="TipoAudit">Tipo Auditoría: </label></td>
                <td>
                    <select name="TipoAudit" id="TipoAudit">
                        <option value="Plan">Plan de auditoría</option>
                        <option value="Especial">Auditoría especial</option>
                        <option value="Apoyo">Apoyo otras dependencias</option>
                    </select>
                </td>
            </tr>
            <tr>
                
                <td>
                    <label for="Auditores">Auditor: </label>
                </td>
                <td>
                    <select name="Auditores" id="Auditores">
                        <option value="Auditor1">Radamel Falcao Garcia</option>
                        <option value="Auditor2">James Rodriguez</option>
                        <option value="Auditor3">Juan Guillermo Cuadrado</option>
                    </select>
                </td>
                <td>
                <label for="Zonas">Zonas: </label>
                </td>
                <td>
                    <select name="Zonas" id="Zonas">
                        <option value="Costa1">Costa 1</option>
                        <option value="Costa2">Costa 2</option>
                        <option value="Centro">Centro </option>
                    </select>
                </td>
            </tr>   
            <tr>
                <td>
                    <label for="Departamentos">Departamento: </label>
                </td> 
                <td>
                    <select name="Departamento" id="Departamento">
                        <option value="departamento">Cesar</option>
                        <option value="departamento">Santander</option>
                        <option value="departamento">Bolívar</option> 
                    </select>
                </td>
                <td>    
                    <label for="Municipio">Municipios: </label>
                </td>
                <td>    
                    <select name="Municipios" id="Municipios">
                        <option value="Auditor1">Valledupar</option>
                        <option value="Auditor2">Bucaramanga</option>
                        <option value="Auditor3">Cartagena</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="codigoAudit">Código Auditoría: </label></td>
                <td>
                    <select name="codigoAudit" id="codigoAudit">
                        <option value="A01">Auditoría-01</option>
                        <option value="A02">Auditoría-02</option>
                        <option value="A03">Auditoría-03</option>
                    </select>
                </td>
                <td><label for="grupoAudit">Grupo Auditoría: </label></td>
                <td>
                    <select name="grupoAudit" id="grupoAudit">
                        <option value="individual">Actividad individual</option>
                        <option value="Grupo">Actividades grupal</option>
                        <option value="Asistencia">Apoyo/Asistencia</option>
                    </select>
                </td>
            </tr>
        </table>
        <table id="TablaCrearAudit2">
            <tr>
                <td>
                    <label for "DesAudit">Auditoría:</label>
                </td>
                <td>
                    <p>
                        Aquí debe ir el contenido el nombre de la auditoría según lo creado en el universo auditable.<br/>
                        Aenean ornare placerat accumsan. Vivamus vel convallis odio, vitae vulputate lorem. Nullam vehicula tempor lectus vitae maximus. Fusce hendrerit leo et elit hendrerit hendrerit. Nullam bibendum urna facilisis justo pellentesque ornare. Nam at enim vel tortor consequat ultrices. Quisque fermentum lobortis sodales. Aliquam vel feugiat tellus, vitae ultrices purus. Curabitur quis dui sit amet lorem hendrerit imperdiet non pharetra magna. Nunc in vehicula felis. Suspendisse potenti.
                    <p>
                </td>
            </tr>
            <tr>
                <td>
                    <label for "ActAudit">Actividad:</label>
                </td>
                <td>
                    Aquí debe ir el del detalle de las activiades que se deberían incluir dentro la Auditoría.<br/>
                    Aenean ornare placerat accumsan. Vivamus vel convallis odio, vitae vulputate lorem. 
                    Nullam vehicula tempor lectus vitae maximus. Fusce hendrerit leo et elit hendrerit hendrerit. 
                    Nullam bibendum urna facilisis justo pellentesque ornare. Nam at enim vel tortor consequat ultrices. 
                    Quisque fermentum lobortis sodales. Aliquam vel feugiat tellus, vitae ultrices purus. 
                    Curabitur quis dui sit amet lorem hendrerit imperdiet non pharetra magna. 
                    Nunc in vehicula felis. Suspendisse potenti.
                </td>
            </tr>
                <td>
                    <label for "DesAcitividad">Detalle Actividad:</label>
                </td>
                <td>
                    <textarea name="DesAcitividad" rows="10" cols="120"></textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                        <input type="submit" value="Guardar" id="botonG"/>
                </td>     
            </tr>
            
        </table>

    </form>
    
{% endblock %}